#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 80px auto;
}

#gallery img {
    width: 290px;
    border-radius: 2px;
    
}

.about-img {
    width: 100px;
}